<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <img src="./content/images/fixit-logo-notxt.jpeg" alt="Fixit Logo" width="75px">
      </div>
  
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/"><button type="button" class="btn btn-primary">User Login</button></a></li>
          <li><a href="/register"><button type="button" class="btn btn-primary">Register</button></a></li>
          <li><a href="/contact"><button type="button" class="btn btn-primary">Contact</button></a></li>
          <li><a href="/dashboard"><button type="button" class="btn btn-primary">Dashboard</button></a></li>
          <li><a href="/tickets"><button type="button" class="btn btn-primary">Tickets</button></a></li>
          

          
        </ul>
      </div>
    </div>
  </nav>