<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <img src="./content/images/fixit-logo.jpeg" alt="Fixit Logo" width="150px">
      </div>
  
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/"><p class="links">User Login</p></a></li>
          <li><a href="/register"><p class="links">Register</p></a></li>
          <li><a href="/tickets"><p class="links">Tickets List</p></a></li>
          <li><a href="/addticket"><p class="links">Add Ticket</p></a></li>
          <li><a href="/contact"><p class="links">Contact</p></a></li>
          
        </ul>
      </div>
    </div>
  </nav>